#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  width: 250px;
  height: 25px;
  font-size: 18px;
}

.list-item {
  display: flex;
  margin: 0.5rem;
  padding: 0 4%;
  border: 2px solid #242424;
  background-color: #242424;
  border-radius: 10px;
  justify-content: space-between;
}

.index {
  font-weight: bold;
}

p.index {
  text-align: start;
  margin-left: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.card-container {
  display: flex;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 60px;
  color: #333;
  background-color: #ccc;
}

p.card-container {
  margin: 5px;
  width: 80px;
  padding: 0.5rem;
}

.card-img {
  border: 2px solid wheat;
  border-radius: 60px;
  background-color: rgb(158, 210, 231);
}

.type-container {
  display: flex;
  justify-content: center;
}

.type {
  width: 75px;
  border-radius: 15px;
  margin: 0 2px;
}

.stats {
  text-align: left;
  font-weight: bold;
  margin-left: 5px;
  display: flex;
}

.stat-bar {
  width: 10px;
  height: 20px;
  margin-left: 4px;
  border: 2px solid #555;
}