#bug {
    color: whitesmoke;
    background-color: #adbd21;
}

#dark {
    color: whitesmoke;
    background-color: #735a4a;
}

#dragon {
    color: whitesmoke;
    background-color: #7b63e7;
}

#electric {
    color: whitesmoke;
    background-color: #ffc631;
}

#fairy {
    color: whitesmoke;
    background-color: #f7b5f7;
}

#fighting {
    color: whitesmoke;
    background-color: #a55239;
}

#fire {
    color: whitesmoke;
    background-color: #f75231;
}

#flying {
    color: whitesmoke;
    background-color: #9cadf7;
}

#ghost {
    color: whitesmoke;
    background-color: #6363b5;
}

#grass {
    color: whitesmoke;
    background-color: #7bce52;
}

#ground {
    color: whitesmoke;
    background-color: #d6b55a;
}

#ice {
    color: whitesmoke;
    background-color: #5acee7;
}

#normal {
    color: whitesmoke;
    background-color: #ada594;
}

#poison {
    color: whitesmoke;
    background-color: #b55aa5;
}

#psychic {
    color: whitesmoke;
    background-color: #ff73a5;
}

#rock {
    color: whitesmoke;
    background-color: #bda55a;
}

#steel {
    color: whitesmoke;
    background-color: #adadc6;
}

#water {
    color: whitesmoke;
    background-color: #399cff;
}